[submodule "Portfolio"]
	path = Portfolio
	url = https://github.com/BaBaSaMa-Hosting/Portfolio.git
[submodule "Phantom"]
	path = Phantom
	url = https://github.com/BaBaSaMa-Hosting/Phantom.git
[submodule "API"]
	path = API
	url = https://github.com/BaBaSaMa-Hosting/API.git
[submodule "Expo-Notification-Test"]
	path = Expo-Notification-Test
	url = https://github.com/BaBaSaMa-Hosting/Expo-Notification-Test.git
