body {
  overflow-y: auto;
}

.container {
  position: relative;
  z-index: 2;
}
.container #project-type.select-container {
  z-index: 10;
  position: absolute;
  width: fit-content;
  height: 60px;
  padding: 10px 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  right: 100px;
  transition: 0.3s ease-in-out;
}
.container #project-type.select-container .select-textbox {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}
.container #project-type.select-container .select-textbox .text {
  font-size: 1.2rem;
  margin: 0 10px 0 0;
}
.container #project-type.select-container .select-textbox .icon {
  display: inline-block;
  width: 20px;
  cursor: pointer;
}
.container #project-type.select-container .select-dropdown {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.container #project-type.select-container .select-dropdown .select-element {
  min-height: 30px;
  width: 100%;
  border-top: 0.8px solid #333;
  border-bottom: 0.8px solid #333;
  font-size: 1rem;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}
.container #project-type.select-container .select-dropdown .select-element:hover, .container #project-type.select-container .select-dropdown .select-element:focus, .container #project-type.select-container .select-dropdown .select-element.active {
  background-color: #e2e2e2;
}
.container #project-type.select-container .select-dropdown.active {
  height: 130px;
}
.container #project-type.select-container.active {
  height: 200px;
}
.container .section-container {
  display: grid;
  margin-top: 100px;
  margin-bottom: 100px;
}
.container .section-container section {
  width: auto;
  max-width: calc(100vw - 60px);
  height: auto;
  display: flex;
  margin-bottom: 10px;
}
.container .section-container section .swiper .swiper-wrapper .swiper-slide .website-element-container, .container .section-container section .swiper .swiper-wrapper .swiper-slide .app-element-container, .container .section-container section .swiper .swiper-wrapper .swiper-slide .design-element-container {
  position: relative;
  width: 100%;
  min-width: 100px;
  height: 80vh;
}
.container .section-container section .swiper .swiper-wrapper .swiper-slide .website-element-container .image, .container .section-container section .swiper .swiper-wrapper .swiper-slide .app-element-container .image, .container .section-container section .swiper .swiper-wrapper .swiper-slide .design-element-container .image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  left: 0;
  top: 0;
  z-index: 2;
}
.container .section-container section .swiper .swiper-wrapper .swiper-slide .website-element-container .text-overlay, .container .section-container section .swiper .swiper-wrapper .swiper-slide .app-element-container .text-overlay, .container .section-container section .swiper .swiper-wrapper .swiper-slide .design-element-container .text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top right, #333333, rgba(51, 51, 51, 0.4));
  opacity: 0.8;
  color: #f9f9f9;
  padding: 25px;
  z-index: 3;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 12px;
}
.container .section-container section .swiper .swiper-wrapper .swiper-slide .website-element-container .text-overlay strong, .container .section-container section .swiper .swiper-wrapper .swiper-slide .website-element-container .text-overlay p, .container .section-container section .swiper .swiper-wrapper .swiper-slide .app-element-container .text-overlay strong, .container .section-container section .swiper .swiper-wrapper .swiper-slide .app-element-container .text-overlay p, .container .section-container section .swiper .swiper-wrapper .swiper-slide .design-element-container .text-overlay strong, .container .section-container section .swiper .swiper-wrapper .swiper-slide .design-element-container .text-overlay p {
  transition: 0.3s ease-in-out;
}
.container .section-container section .swiper .swiper-wrapper .swiper-slide .website-element-container .text-overlay strong, .container .section-container section .swiper .swiper-wrapper .swiper-slide .app-element-container .text-overlay strong, .container .section-container section .swiper .swiper-wrapper .swiper-slide .design-element-container .text-overlay strong {
  font-size: 1.5rem;
}
.container .section-container section .swiper .swiper-wrapper .swiper-slide .website-element-container .text-overlay p, .container .section-container section .swiper .swiper-wrapper .swiper-slide .app-element-container .text-overlay p, .container .section-container section .swiper .swiper-wrapper .swiper-slide .design-element-container .text-overlay p {
  font-size: 1rem;
}
.container .section-container section .swiper .swiper-wrapper .swiper-slide .website-element-container .text-overlay:hover, .container .section-container section .swiper .swiper-wrapper .swiper-slide .app-element-container .text-overlay:hover, .container .section-container section .swiper .swiper-wrapper .swiper-slide .design-element-container .text-overlay:hover {
  background-image: linear-gradient(to top right, #333333, rgba(51, 51, 51, 0.4));
}
.container .section-container section .swiper .swiper-wrapper .swiper-slide .website-element-container .text-overlay:hover strong, .container .section-container section .swiper .swiper-wrapper .swiper-slide .app-element-container .text-overlay:hover strong, .container .section-container section .swiper .swiper-wrapper .swiper-slide .design-element-container .text-overlay:hover strong {
  font-size: 1.7rem;
}
.container .section-container section .swiper .swiper-wrapper .swiper-slide .website-element-container .text-overlay:hover p, .container .section-container section .swiper .swiper-wrapper .swiper-slide .app-element-container .text-overlay:hover p, .container .section-container section .swiper .swiper-wrapper .swiper-slide .design-element-container .text-overlay:hover p {
  font-size: 1.2rem;
}
.container .section-container section .swiper .swiper-button-next, .container .section-container section .swiper .swiper-button-prev {
  color: #80c5a5;
}

/*# sourceMappingURL=projects.css.map */
